## 신용거래 이상탐지 데이터 : Feature Engneering
<!-- ![](./data/fraud_info.png) -->

### 데이터 불러오기, 데이터 확인

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('./data/fraud.csv')

In [3]:
df.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,Kenneth,Robinson,M,269 Sanchez Rapids,Elizabeth,...,40.6747,-74.2239,124967,Operational researcher,1980-12-21,09eff9c806365e2a6be12c1bbab3d70e,1325376754,40.079588,-74.848087,0
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,grocery_net,46.28,Mary,Wall,F,2481 Mills Lock,Plainfield,...,40.6152,-74.4150,71485,Leisure centre manager,1974-07-19,19e23c6a300c774354417befe4f31f8c,1325377036,40.021888,-74.228188,0
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,grocery_pos,64.09,Daniel,Escobar,M,61390 Hayes Port,Romulus,...,42.2203,-83.3583,31515,Police officer,1971-11-05,6f363661ba6b55889e488dd178f2a0af,1325377215,42.360426,-83.552316,0
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,misc_pos,25.58,Jenna,Brooks,F,50872 Alex Plain Suite 088,Baton Rouge,...,30.4066,-91.1468,378909,"Designer, furniture",1977-02-22,1654da2abfb9e79a5f99167fc9779558,1325377421,29.737426,-90.853194,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491134 entries, 0 to 491133
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  491134 non-null  object
 1   cc_num                 491134 non-null  int64
 2   merchant               491134 non-null  object
 3   category               491134 non-null  object
 4   amt                    491134 non-null  float64
 5   first                  491134 non-null  object
 6   last                   491134 non-null  object
 7   gender                 491134 non-null  object
 8   street                 491134 non-null  object
 9   city                   491134 non-null  object
 10  state                  491134 non-null  object
 11  zip                    491134 non-null  int64
 12  lat                    491134 non-null  float64
 13  long                   491134 non-null  float64
 14  city_pop               491134 non-null  int64
 15  job                    491134 non-null  object
 16  dob                    491134 non-null  object
 17  trans_num              491134 non-null  object
 18  unix_time              491134 non-null  int64
 19  merch_lat              491134 non-null  float64
 20  merch_long             491134 non-null  float64
 21  is_fraud               491134 non-null  int64
dtypes: float64(5), int64(5), object(12)
memory usage: 82.4+ MB

In [5]:
df.describe(include='all')

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
count,491134,4.911340e+05,491134,491134,491134.000000,491134,491134,491134,491134,491134,...,491134.000000,491134.000000,4.911340e+05,491134,491134,491134,4.911340e+05,491134.000000,491134.000000,491134.000000
unique,488474,NaN,693,14,NaN,92,102,2,124,121,...,NaN,NaN,NaN,110,123,491134,NaN,NaN,NaN,NaN
top,2020-04-07 11:34:26,NaN,fraud_Kilback LLC,shopping_pos,NaN,Margaret,Lowe,F,908 Brooks Brook,Birmingham,...,NaN,NaN,NaN,Environmental consultant,1977-03-23,1f76529f8574734946361c461b024d99,NaN,NaN,NaN,NaN
freq,3,NaN,1602,48345,NaN,16029,16056,352445,4392,8029,...,NaN,NaN,NaN,8777,8044,1,NaN,NaN,NaN,NaN
mean,NaN,3.706013e+17,NaN,NaN,69.050120,NaN,NaN,NaN,NaN,NaN,...,37.931230,-90.495619,1.213922e+05,NaN,NaN,NaN,1.358730e+09,37.930272,-90.495411,0.002533
std,NaN,1.260229e+18,NaN,NaN,160.322867,NaN,NaN,NaN,NaN,NaN,...,5.341193,12.990732,3.725751e+05,NaN,NaN,NaN,1.819402e+07,5.372986,13.004100,0.050264
min,NaN,5.038744e+11,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,...,24.655700,-122.345600,4.600000e+01,NaN,NaN,NaN,1.325376e+09,23.655789,-123.345106,0.000000
25%,NaN,2.131124e+14,NaN,NaN,8.960000,NaN,NaN,NaN,NaN,NaN,...,33.746700,-97.235100,1.228000e+03,NaN,NaN,NaN,1.343087e+09,33.781388,-96.984814,0.000000
50%,NaN,3.531130e+15,NaN,NaN,42.170000,NaN,NaN,NaN,NaN,NaN,...,38.507200,-87.591700,5.760000e+03,NaN,NaN,NaN,1.357257e+09,38.545124,-87.573441,0.000000
75%,NaN,4.653879e+15,NaN,NaN,80.330000,NaN,NaN,NaN,NaN,NaN,...,41.520500,-80.731000,5.083500e+04,NaN,NaN,NaN,1.374626e+09,41.624294,-80.685567,0.000000
max,NaN,4.956829e+18,NaN,NaN,25086.940000,NaN,NaN,NaN,NaN,NaN,...,48.887800,-69.965600,2.906700e+06,NaN,NaN,NaN,1.388534e+09,49.887523,-68.965624,1.000000

- 사기 데이터 수 확인
    - 사기 거래가 전체 데이터의 0.25%로 불균형한 데이터임을 알 수 있다.

In [6]:
df['is_fraud'].value_counts()

is_fraud
0    489890
1      1244
Name: count, dtype: int64

In [7]:
df['is_fraud'].value_counts(normalize=True)

is_fraud
0    0.997467
1    0.002533
Name: proportion, dtype: float64

### 불필요한 컬럼 제거하기
---
- mechant : 상점 이름
- first : 카드 소지자 이름
- last : 카드 소지자 성
- street : 카드 소지자 주소1
- city : 카드 소지자 주소2
- state : 카드 소지자 주소3
- zip : 카드 소지자의 우편번호
- city_pop : 카드 소지자 지역의 인구수
- trans_num : 거래 id
- unix_time : UNIX 형식의 구매 날짜와 시간
---
**위의 컬럼들은 편향 발생 우려 및 의미없는 값이라 판단하여 제거**

- merchant 컬럼 유니크 값이 몇 개인지 확인

In [8]:
df['merchant'].nunique()

693

- job 컬럼 유니크 값이 몇 개인지 확인

In [9]:
df['job'].unique()
df['job'].nunique()

110

- cc_num 컬럼 유니크 값이 몇 개인지 확인

In [10]:
df['cc_num'].unique()
df['cc_num'].nunique()

124

- 불필요 컬럼 제거

In [11]:
cols = ['merchant', 'first', 'last', 'street', 'city', 'state', 'zip', 'city_pop', 'trans_num', 'unix_time']

df2 = df.drop(cols, axis=1)
df2.head()

,trans_date_trans_time,cc_num,category,amt,gender,lat,long,job,dob,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:44,630423337322,grocery_pos,107.23,F,48.8878,-118.2105,Special educational needs teacher,1978-06-21,49.159047,-118.186462,0
1,2019-01-01 00:12:34,4956828990005111019,grocery_pos,44.71,M,40.6747,-74.2239,Operational researcher,1980-12-21,40.079588,-74.848087,0
2,2019-01-01 00:17:16,180048185037117,grocery_net,46.28,F,40.6152,-74.4150,Leisure centre manager,1974-07-19,40.021888,-74.228188,0
3,2019-01-01 00:20:15,374930071163758,grocery_pos,64.09,M,42.2203,-83.3583,Police officer,1971-11-05,42.360426,-83.552316,0
4,2019-01-01 00:23:41,2712209726293386,misc_pos,25.58,F,30.4066,-91.1468,"Designer, furniture",1977-02-22,29.737426,-90.853194,0

- cc_num 값 기준으로 정렬

In [12]:
df2.sort_values(by='cc_num')

,trans_date_trans_time,cc_num,category,amt,gender,lat,long,job,dob,merch_lat,merch_long,is_fraud
108802,2019-07-05 23:23:58,503874407318,entertainment,15.60,M,29.5894,-98.5201,Exhibition designer,1975-12-28,29.014544,-99.433890,0
324968,2020-05-27 12:29:45,503874407318,food_dining,48.70,M,29.5894,-98.5201,Exhibition designer,1975-12-28,30.074031,-98.790379,0
45703,2019-04-01 05:26:03,503874407318,grocery_net,44.71,M,29.5894,-98.5201,Exhibition designer,1975-12-28,29.851166,-98.934171,0
176940,2019-10-12 17:01:30,503874407318,entertainment,248.46,M,29.5894,-98.5201,Exhibition designer,1975-12-28,29.944531,-98.364703,0
265331,2020-02-16 00:10:36,503874407318,gas_transport,106.35,M,29.5894,-98.5201,Exhibition designer,1975-12-28,29.655990,-97.707776,0
...,...,...,...,...,...,...,...,...,...,...,...,...
424422,2020-10-14 16:44:57,4956828990005111019,entertainment,17.19,M,40.6747,-74.2239,Operational researcher,1980-12-21,41.337429,-73.919383,0
118816,2019-07-19 10:31:58,4956828990005111019,gas_transport,62.84,M,40.6747,-74.2239,Operational researcher,1980-12-21,40.912638,-73.306730,0
443663,2020-11-15 23:50:42,4956828990005111019,food_dining,22.20,M,40.6747,-74.2239,Operational researcher,1980-12-21,40.966284,-74.809641,0
118741,2019-07-19 04:52:15,4956828990005111019,grocery_pos,56.55,M,40.6747,-74.2239,Operational researcher,1980-12-21,39.944586,-75.006398,0
118826,2019-07-19 11:29:01,4956828990005111019,grocery_pos,42.41,M,40.6747,-74.2239,Operational researcher,1980-12-21,41.624668,-73.806542,0

- cc_num을 기준으로 하여 각각 데이터는 몇 건인지, 그 중 사기 거래는 몇 건인지 확인

In [13]:
df_temp = df2.groupby(by=['cc_num'], as_index=False)['is_fraud'].agg(['count', 'sum'])
df_temp.head()

         cc_num  count  sum
0  503874407318   3655    9
1  567868110212   3644    3
2  571365235126   4374   10
3  581686439828   3653   10
4  630423337322   4362    7

In [14]:
df_temp['percent'] = round(df_temp['sum'] / df_temp['count'] * 100, 2)
df_temp

                  cc_num  count  sum  percent
0           503874407318   3655    9     0.25
1           567868110212   3644    3     0.08
2           571365235126   4374   10     0.23
3           581686439828   3653   10     0.27
4           630423337322   4362    7     0.16
..                   ...    ...  ...      ...
119  4792627764422477317   4357    5     0.11
120  4797297220948468262   3653   14     0.38
121  4861310130652566408   3643    9     0.25
122  4906628655840914250   3655   11     0.30
123  4956828990005111019   3657   10     0.27

[124 rows x 4 columns]

### 구매 금액의 z-score 구하기

- cc_num 컬럼의 값마다 amt 컬럼의 평균, 표준편차를 계산하여 새로운 변수 amt_info에 저장

In [15]:
amt_info = df2.groupby(by='cc_num', as_index=False)['amt'].agg(['mean', 'std'])
amt_info.head()

         cc_num       mean         std
0  503874407318  60.253406  127.265783
1  567868110212  83.442558  117.303828
2  571365235126  59.392974  134.289959
3  581686439828  58.578675  149.804992
4  630423337322  56.078113  159.201852

In [16]:
amt_info.to_pickle('./data/fraud_amt_info.pkl')

- cc_num 컬럼을 기준으로 정제 중인 데이터프레임과 amt_info 데이터프레임 합치기

In [17]:
df2 = df2.reset_index(drop=True)
amt_info = amt_info.reset_index(drop=True)

df3 = pd.merge(df2, amt_info, how='left', on='cc_num')
df3.head()

,trans_date_trans_time,cc_num,category,amt,gender,lat,long,job,dob,merch_lat,merch_long,is_fraud,mean,std
0,2019-01-01 00:00:44,630423337322,grocery_pos,107.23,F,48.8878,-118.2105,Special educational needs teacher,1978-06-21,49.159047,-118.186462,0,56.078113,159.201852
1,2019-01-01 00:12:34,4956828990005111019,grocery_pos,44.71,M,40.6747,-74.2239,Operational researcher,1980-12-21,40.079588,-74.848087,0,59.858059,132.138802
2,2019-01-01 00:17:16,180048185037117,grocery_net,46.28,F,40.6152,-74.4150,Leisure centre manager,1974-07-19,40.021888,-74.228188,0,87.328067,113.454416
3,2019-01-01 00:20:15,374930071163758,grocery_pos,64.09,M,42.2203,-83.3583,Police officer,1971-11-05,42.360426,-83.552316,0,64.317839,174.739042
4,2019-01-01 00:23:41,2712209726293386,misc_pos,25.58,F,30.4066,-91.1468,"Designer, furniture",1977-02-22,29.737426,-90.853194,0,90.747123,165.470881

- amt의 z-score를 계산하여 amt_z 컬럼에 저장

In [18]:
df3['amt_z'] = (df3['amt'] - df3['mean']) / df3['std']
df3['amt_z'].head()

0    0.321302
1   -0.114637
2   -0.361802
3   -0.001304
4   -0.393828
Name: amt_z, dtype: float64

- mean, std 컬럼 제거

In [19]:
df3 = df3.drop(['mean', 'std'], axis=1)

In [20]:
df3.columns

Index(['trans_date_trans_time', 'cc_num', 'category', 'amt', 'gender', 'lat',
       'long', 'job', 'dob', 'merch_lat', 'merch_long', 'is_fraud', 'amt_z'],
      dtype='object')

- cc_num, category 컬럼의 값마다 amt의 평균, 표준편차를 계산하여 cat_info에 저장

In [21]:
cat_info = df3.groupby(by=['cc_num', 'category'], as_index=False)['amt'].agg(['mean', 'std'])
cat_info.head()

         cc_num       category       mean         std
0  503874407318  entertainment  73.282418  103.050402
1  503874407318    food_dining  38.712305   46.548436
2  503874407318  gas_transport  68.457820   14.730440
3  503874407318    grocery_net  48.931302   18.736252
4  503874407318    grocery_pos  61.987806   23.449569

In [22]:
cat_info.to_pickle('./data/fraud_cat_info.pkl')

- cc_num, category 컬럼을 기준으로, 정제 중인 데이터프레임과 cat_info 데이터프레임 합치기

In [23]:
df3 = df3.reset_index(drop=True)
cat_info = cat_info.reset_index(drop=True)

# df4 = pd.merge(df3, cat_info, how='left', on='cc_num')
df4 = pd.merge(df3, cat_info, how='left', on=['cc_num', 'category'] )

In [24]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491134 entries, 0 to 491133
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  491134 non-null  object
 1   cc_num                 491134 non-null  int64
 2   category               491134 non-null  object
 3   amt                    491134 non-null  float64
 4   gender                 491134 non-null  object
 5   lat                    491134 non-null  float64
 6   long                   491134 non-null  float64
 7   job                    491134 non-null  object
 8   dob                    491134 non-null  object
 9   merch_lat              491134 non-null  float64
 10  merch_long             491134 non-null  float64
 11  is_fraud               491134 non-null  int64
 12  amt_z                  491134 non-null  float64
 13  mean                   491134 non-null  float64
 14  std                    491134 non-null  float64
dtypes: float64(8), int64(2), object(5)
memory usage: 56.2+ MB

In [25]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491134 entries, 0 to 491133
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  491134 non-null  object
 1   cc_num                 491134 non-null  int64
 2   category               491134 non-null  object
 3   amt                    491134 non-null  float64
 4   gender                 491134 non-null  object
 5   lat                    491134 non-null  float64
 6   long                   491134 non-null  float64
 7   job                    491134 non-null  object
 8   dob                    491134 non-null  object
 9   merch_lat              491134 non-null  float64
 10  merch_long             491134 non-null  float64
 11  is_fraud               491134 non-null  int64
 12  amt_z                  491134 non-null  float64
 13  mean                   491134 non-null  float64
 14  std                    491134 non-null  float64
dtypes: float64(8), int64(2), object(5)
memory usage: 56.2+ MB

In [26]:
df4.columns

Index(['trans_date_trans_time', 'cc_num', 'category', 'amt', 'gender', 'lat',
       'long', 'job', 'dob', 'merch_lat', 'merch_long', 'is_fraud', 'amt_z',
       'mean', 'std'],
      dtype='object')

- amt의 z-score를 계산하여 cat_amz_z 컬럼에 저장

In [27]:
df4['cat_amt_z'] = (df4['amt'] - df4['mean']) / df4['std']

- mean, std 컬럼 제거

In [28]:
df5 = df4.drop(['mean', 'std'], axis=1)
df5 = df5.reset_index(drop=True)

### 결제 시간 관련 분석

- trans_date_trans_time 컬럼에서 시간 값을 추출하여 hour 컬럼에 저장

In [29]:
df5['trans_date_trans_time'] = pd.to_datetime(df5['trans_date_trans_time'])

In [30]:
df5['hour'] = df5['trans_date_trans_time'].dt.hour

In [31]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491134 entries, 0 to 491133
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  491134 non-null  datetime64[ns]
 1   cc_num                 491134 non-null  int64
 2   category               491134 non-null  object
 3   amt                    491134 non-null  float64
 4   gender                 491134 non-null  object
 5   lat                    491134 non-null  float64
 6   long                   491134 non-null  float64
 7   job                    491134 non-null  object
 8   dob                    491134 non-null  object
 9   merch_lat              491134 non-null  float64
 10  merch_long             491134 non-null  float64
 11  is_fraud               491134 non-null  int64
 12  amt_z                  491134 non-null  float64
 13  cat_amt_z              491134 non-null  float64
 14  hour                   491134 non-null  int32
dtypes: datetime64[ns](1), float64(7), int32(1), int64(2), object(4)
memory usage: 54.3+ MB

- 결제 시간에 따라 morning, afternoon, evening, night 컬럼으로 분류
- hour_cat 컬럼에 저장

In [32]:
def get_timezone(x) :
    if (x >= 6) and (x < 12) :
        return 'morning'
    elif (x >= 12) and (x < 18) :
        return 'afternoon'
    elif (x >= 18) and (x <= 23) :
        return 'evening'
    else :
        return 'night'

In [33]:
df5['hour_cat'] = df5['hour'].apply(get_timezone)

In [34]:
df5.head()

,trans_date_trans_time,cc_num,category,amt,gender,lat,long,job,dob,merch_lat,merch_long,is_fraud,amt_z,cat_amt_z,hour,hour_cat
0,2019-01-01 00:00:44,630423337322,grocery_pos,107.23,F,48.8878,-118.2105,Special educational needs teacher,1978-06-21,49.159047,-118.186462,0,0.321302,0.317631,0,night
1,2019-01-01 00:12:34,4956828990005111019,grocery_pos,44.71,M,40.6747,-74.2239,Operational researcher,1980-12-21,40.079588,-74.848087,0,-0.114637,-0.652060,0,night
2,2019-01-01 00:17:16,180048185037117,grocery_net,46.28,F,40.6152,-74.4150,Leisure centre manager,1974-07-19,40.021888,-74.228188,0,-0.361802,-0.723328,0,night
3,2019-01-01 00:20:15,374930071163758,grocery_pos,64.09,M,42.2203,-83.3583,Police officer,1971-11-05,42.360426,-83.552316,0,-0.001304,0.211780,0,night
4,2019-01-01 00:23:41,2712209726293386,misc_pos,25.58,F,30.4066,-91.1468,"Designer, furniture",1977-02-22,29.737426,-90.853194,0,-0.393828,-0.575698,0,night

In [35]:
df5.tail()

,trans_date_trans_time,cc_num,category,amt,gender,lat,long,job,dob,merch_lat,merch_long,is_fraud,amt_z,cat_amt_z,hour,hour_cat
491129,2020-12-31 23:56:48,6011109736646996,home,134.26,F,34.2651,-77.8670,English as a second language teacher,1983-02-08,34.853497,-78.664158,0,0.360311,1.450980,23,evening
491130,2020-12-31 23:56:57,213112402583773,shopping_pos,25.49,F,34.0326,-82.2027,Research scientist (physical sciences),1984-06-03,35.008839,-81.475156,0,-0.173577,-0.128877,23,evening
491131,2020-12-31 23:59:09,3556613125071656,kids_pets,111.84,M,29.0393,-95.4401,Futures trader,1999-12-27,29.661049,-96.186633,0,0.364619,1.163822,23,evening
491132,2020-12-31 23:59:15,6011724471098086,kids_pets,86.88,F,46.1966,-118.9017,Musician,1981-11-29,46.658340,-119.715054,0,-0.015209,0.440137,23,evening
491133,2020-12-31 23:59:34,4170689372027579,entertainment,38.13,M,35.6665,-97.4798,Media buyer,1993-05-10,36.210097,-97.036372,0,-0.152588,-0.380698,23,evening

- 시간대별 데이터 수 출력

In [36]:
df5['hour_cat'].value_counts()

hour_cat
afternoon    176801
evening      176251
night         69108
morning       68974
Name: count, dtype: int64

- cc_num 컬럼의 값마다 amt 컬럼의 데이터 수를 계산하여 all_cnt 변수로 저장

In [37]:
all_cnt = df5.groupby(by='cc_num', as_index=False)['amt'].count()
all_cnt

                  cc_num   amt
0           503874407318  3655
1           567868110212  3644
2           571365235126  4374
3           581686439828  3653
4           630423337322  4362
..                   ...   ...
119  4792627764422477317  4357
120  4797297220948468262  3653
121  4861310130652566408  3643
122  4906628655840914250  3655
123  4956828990005111019  3657

[124 rows x 2 columns]

- cc_num, hour_cat 컬럼의 값마다 amt 컬럼의 데이터 수를 계산하여 hour_cnt 변수로 저장

In [38]:
hour_cnt = df5.groupby(by=['cc_num', 'hour_cat'], as_index=False)['amt'].count()
hour_cnt

                  cc_num   hour_cat   amt
0           503874407318  afternoon  1280
1           503874407318    evening  1308
2           503874407318    morning   558
3           503874407318      night   509
4           567868110212  afternoon  1228
..                   ...        ...   ...
491  4906628655840914250      night   577
492  4956828990005111019  afternoon  1277
493  4956828990005111019    evening  1271
494  4956828990005111019    morning   558
495  4956828990005111019      night   551

[496 rows x 3 columns]

- cc_num 컬럼을 기준으로 hour_cnt 데이터프레임과 all_cnt 데이터프레임 합치기

In [39]:
merge_cnt = pd.merge(hour_cnt, all_cnt, how='left', on='cc_num')

In [40]:
merge_cnt.head()

         cc_num   hour_cat  amt_x  amt_y
0  503874407318  afternoon   1280   3655
1  503874407318    evening   1308   3655
2  503874407318    morning    558   3655
3  503874407318      night    509   3655
4  567868110212  afternoon   1228   3644

- amt_x, amt_y 컬럼명 변경 --> hour_cnt, total_cnt

In [41]:
merge_cnt = merge_cnt.rename({'amt_x':'hour_cnt', 'amt_y':'total_cnt'}, axis=1)

In [42]:
merge_cnt.head(10)

         cc_num   hour_cat  hour_cnt  total_cnt
0  503874407318  afternoon      1280       3655
1  503874407318    evening      1308       3655
2  503874407318    morning       558       3655
3  503874407318      night       509       3655
4  567868110212  afternoon      1228       3644
5  567868110212    evening      1301       3644
6  567868110212    morning       529       3644
7  567868110212      night       586       3644
8  571365235126  afternoon      1523       4374
9  571365235126    evening      1523       4374

- 전체 거래 건수(total_cnt)에 대한 시간대별 거래 건수(hour_cnt)의 비율을 계산하여 hour_perc 컬럼에 저장

In [43]:
merge_cnt['hour_perc'] = merge_cnt['hour_cnt'] / merge_cnt['total_cnt'] * 100
merge_cnt.head(10)

         cc_num   hour_cat  hour_cnt  total_cnt  hour_perc
0  503874407318  afternoon      1280       3655  35.020520
1  503874407318    evening      1308       3655  35.786594
2  503874407318    morning       558       3655  15.266758
3  503874407318      night       509       3655  13.926129
4  567868110212  afternoon      1228       3644  33.699232
5  567868110212    evening      1301       3644  35.702525
6  567868110212    morning       529       3644  14.517014
7  567868110212      night       586       3644  16.081229
8  571365235126  afternoon      1523       4374  34.819387
9  571365235126    evening      1523       4374  34.819387

In [44]:
merge_cnt = merge_cnt[['cc_num', 'hour_cat', 'hour_perc']]

In [45]:
merge_cnt.to_pickle('./data/fraud_hour_cnt.pkl')

- cc_num, hour_cat 컬럼을 기준으로 정제 중인 데이터프레임과 시간대별 데이터프레임 합치기

In [46]:
df6 = pd.merge(df5, merge_cnt, how='left', on=['cc_num', 'hour_cat'])

- 불필요 컬럼 제거

In [47]:
## hour_cat을 지워야 할까...?

df6 = df6.drop(['trans_date_trans_time', 'hour', 'hour_cat'], axis=1)

### 거리 관련 분석

In [48]:
from geopy.distance import distance

In [49]:
df7 = df6.copy()

- 고객의 위치와 상점의 위치 간의 거리를 계산하여 distance 컬럼에 저장

In [50]:
# from datetime import datetime

# df7.apply(lambda x: distance((x['lat'], x['long']), (x['merch_lat'], x['merch_long'])).km, axis=1)

# s_t = datetime.now()
# df7.head(10000).apply(lambda x: distance((x['lat'], x['long']), (x['merch_lat'], x['merch_long'])), axis=1)
# datetime.now() - s_t

In [51]:
def get_diff_distance_from_row(row):
    return distance((row['lat'], row['long']), (row['merch_lat'], row['merch_long'])).km

In [52]:
df7['distance'] = df7.apply(get_diff_distance_from_row, axis=1)

- cc_num 컬럼의 값마다 distance의 평균, 표준편차를 계산하여 dist_info 변수에 저장

In [53]:
dist_info = df7.groupby(by='cc_num', as_index=False)['distance'].agg(['mean', 'std'])

In [54]:
dist_info.to_pickle('./data/fraud_dist_info.pkl')

- cc_num 컬럼을 기준으로 정제 중인 데이터프레임과 dist_info 데이터프레임 합치기

In [55]:
df8 = pd.merge(df7, dist_info, how='left', on='cc_num')
df8.shape

(491134, 17)

- distance 값의 z-score 계산 후 dist_z 컬럼에 저장 및 불필요 변수 제거

In [56]:
df8['dist_z'] = (df8['distance'] - df8['mean']) / df8['std']

In [57]:
df8 = df8.drop(['lat', 'long', 'merch_lat', 'merch_long', 'mean', 'std'], axis=1)

In [58]:
df8.columns

Index(['cc_num', 'category', 'amt', 'gender', 'job', 'dob', 'is_fraud',
       'amt_z', 'cat_amt_z', 'hour_perc', 'distance', 'dist_z'],
      dtype='object')

### 나이 feature 생성

- dob 컬럼에서 연도 값만 추출하여 dob 컬럼에 다시 저장

In [59]:
df8['dob'] = pd.to_datetime(df8['dob'])
df8['dob'] = df8['dob'].dt.year

- 2025년 기준 몇 살인지 계산하여 age 컬럼에 저장

In [60]:
df8['age'] = 2025 - df8['dob']

In [61]:
df8['age'].unique()

array([47, 45, 51, 54, 48, 55, 41, 38, 28, 53, 42, 25, 50, 27, 30, 49, 40,
       52, 37, 26, 22, 35, 36, 44, 21, 29, 32, 34, 43, 46, 39, 31, 33],
      dtype=int32)

### 범주형 데이터 one-hot encoding

In [62]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491134 entries, 0 to 491133
Data columns (total 13 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   cc_num     491134 non-null  int64
 1   category   491134 non-null  object
 2   amt        491134 non-null  float64
 3   gender     491134 non-null  object
 4   job        491134 non-null  object
 5   dob        491134 non-null  int32
 6   is_fraud   491134 non-null  int64
 7   amt_z      491134 non-null  float64
 8   cat_amt_z  491134 non-null  float64
 9   hour_perc  491134 non-null  float64
 10  distance   491134 non-null  float64
 11  dist_z     491134 non-null  float64
 12  age        491134 non-null  int32
dtypes: float64(6), int32(2), int64(2), object(3)
memory usage: 45.0+ MB

- 범주형 데이터의 각 컬럼별 몇 종류의 값이 있는지 확인

In [63]:
print( df8['category'].unique() )
print( df8['category'].nunique() )
print('-------------------------')

print( df8['gender'].unique() )
print( df8['gender'].nunique() )
print('-------------------------')

print( df8['job'].unique() )
print( df8['job'].nunique() )

['grocery_pos' 'grocery_net' 'misc_pos' 'gas_transport' 'misc_net'
 'health_fitness' 'travel' 'personal_care' 'shopping_net' 'shopping_pos'
 'home' 'entertainment' 'food_dining' 'kids_pets']
14
-------------------------
['F' 'M']
2
-------------------------
['Special educational needs teacher' 'Operational researcher'
 'Leisure centre manager' 'Police officer' 'Designer, furniture'
 'Librarian, public' 'Fine artist' 'Tourism officer' 'Surveyor, minerals'
 'Research officer, political party' 'Engineer, electronics'
 'Water engineer' 'Tree surgeon' 'Careers information officer'
 'Claims inspector/assessor' 'Exhibitions officer, museum/gallery'
 'Research scientist (physical sciences)' 'Operations geologist'
 'Systems developer' 'Environmental consultant' 'Energy engineer'
 'Materials engineer' 'Television production assistant'
 'Medical sales representative' 'Therapist, sports' 'Structural engineer'
 'Commercial/residential surveyor' 'Film/video editor'
 'Electronics engineer'
 'Historic buildings inspector/conservation officer' 'Immunologist'
 'Psychologist, forensic' 'Contractor' 'Health physicist' 'Land'
 'Investment analyst' 'Journalist, newspaper' 'Doctor, hospital'
 'Phytotherapist' 'Retail merchandiser' 'Psychotherapist, child'
 'Camera operator' 'Designer, ceramics/pottery' 'Financial adviser'
 'Pensions consultant' 'Electrical engineer' 'Counsellor'
 'Exhibition designer' 'Early years teacher' 'Sales professional, IT'
 'Scientist, marine' 'Intelligence analyst' 'Advertising account planner'
 'IT trainer' 'Insurance underwriter' 'Trade mark attorney' 'Risk analyst'
 'Music therapist' 'Comptroller' 'Scientist, research (maths)'
 'Social researcher' 'Press sub' 'Chief Executive Officer'
 'Scientist, audiological' 'Travel agency manager'
 'Chartered loss adjuster' 'English as a second language teacher'
 'Child psychotherapist' 'Paramedic' 'Race relations officer'
 'Forensic psychologist' 'Physiotherapist' 'Designer, industrial/product'
 'Dispensing optician' 'Learning disability nurse' 'Futures trader'
 'Engineer, control and instrumentation' 'Tax inspector' 'Musician'
 'Therapist, art' 'Surveyor, rural practice' 'Regulatory affairs officer'
 'Designer, exhibition/display' 'Toxicologist' 'Secondary school teacher'
 'Chartered public finance accountant' 'Petroleum engineer'
 'Press photographer' 'Surveyor, land/geomatics'
 'Radio broadcast assistant' 'Prison officer' 'Site engineer'
 'Insurance broker' 'Radiographer, therapeutic' 'Energy manager'
 'Osteopath' 'Statistician' 'Building surveyor' 'Media buyer'
 'Hospital doctor' 'Town planner' 'Lecturer, further education'
 'Copywriter, advertising' 'Firefighter' 'Sub'
 'Development worker, international aid' 'Clothing/textile technologist'
 'Herbalist' 'Ceramics designer' 'Geoscientist']
110

- 정제 중인 데이터프레임에 one-hot encoding 적용

In [65]:
cols_cat = ['category', 'gender', 'job']

df9 = pd.get_dummies(data=df8, columns=cols_cat, drop_first=True, dtype=int)

In [67]:
df9.columns

Index(['cc_num', 'amt', 'dob', 'is_fraud', 'amt_z', 'cat_amt_z', 'hour_perc',
       'distance', 'dist_z', 'age',
       ...
       'job_Television production assistant', 'job_Therapist, art',
       'job_Therapist, sports', 'job_Tourism officer', 'job_Town planner',
       'job_Toxicologist', 'job_Trade mark attorney',
       'job_Travel agency manager', 'job_Tree surgeon', 'job_Water engineer'],
      dtype='object', length=133)

- cc_num 변수 제거

In [68]:
df10 = df9.drop(['cc_num'], axis=1)
df10.head()

,amt,dob,is_fraud,amt_z,cat_amt_z,hour_perc,distance,dist_z,age,category_food_dining,...,job_Television production assistant,"job_Therapist, art","job_Therapist, sports",job_Tourism officer,job_Town planner,job_Toxicologist,job_Trade mark attorney,job_Travel agency manager,job_Tree surgeon,job_Water engineer
0,107.23,1978,0,0.321302,0.317631,14.190738,30.216618,-1.475224,47,0,...,0,0,0,0,0,0,0,0,0,0
1,44.71,1980,0,-0.114637,-0.652060,15.066995,84.714605,0.345370,45,0,...,0,0,0,0,0,0,0,0,0,0
2,46.28,1974,0,-0.361802,-0.723328,14.947513,67.768167,-0.272693,51,0,...,0,0,0,0,0,0,0,0,0,0
3,64.09,1971,0,-0.001304,0.211780,15.272827,22.322745,-1.824486,54,0,...,0,0,0,0,0,0,0,0,0,0
4,25.58,1977,0,-0.393828,-0.575698,14.272644,79.398244,0.002138,48,0,...,0,0,0,0,0,0,0,0,0,0

## End.